<div class="hstack justify-content-center">
    <div class="col-4">
        {{ form_start(searchType) }}
        <div>
        {{ form_row(searchType) }}
        </div>
        {{ form_end(searchType) }}
    </div>
</div>