{% extends "base.html.twig" %}
{% block body %}
        <div class="mt-5">
            <div class="container">
                <form method="GET" class="d-flex flex-column align-items-center row-cols-4">
                    <label for="category"></label>
                    <select name="category" id="category">
                        <option value="">Select a film category</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="row-cols-4 d-flex justify-content-end">
                        <button type="submit" class="btn bg-warning mt-1">Submit</button>
                    </div>
                </form>

            </div>
        </div>

{% endblock %}