<body>
    <h1>Bienvenue</h1>
        <form method="post">
            <label for="test">Amazing</label>
            <input type="text" id="test" name="test">
            <button type="submit">Get</button>
        </form>
</body>